@font-face {
  font-family: "OswaldLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OswaldLight/OswaldLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OswaldLight/OswaldLight.woff") format("woff"), url("../fonts/OswaldLight/OswaldLight.ttf") format("truetype"); }

@font-face {
  font-family: "OswaldHeavy";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OswaldHeavy/OswaldHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/OswaldHeavy/OswaldHeavy.woff") format("woff"), url("../fonts/OswaldHeavy/OswaldHeavy.ttf") format("truetype"); }
