


@import "_fancybox.scss";

// additional edits to improve

// .faq
.faq-section{
	#main{
		margin-bottom: 50px;
	}
	.content{
		padding: 0 15px;
		margin: 30px 0;
		& ~ div {
			float: left;
		}
		.accordion{
			//min-height: 450px;
			display: block;
			position: relative;
			overflow: hidden;
			.section{
				position: relative;
			}
			h3{
				text-align: inherit;
				outline: none;
				border: 1px solid;
				border-radius: 5px;
				font-size: em(24px);
				padding: 10px 20px;
	    	font-weight: 400;
	    	color: #000;
				margin: 0;
				margin-top: 10px;
				&:hover{
					cursor: pointer;
				}
			}

			i{
		    margin-top: -1px;
		    margin-right: -5px;
		    transition: all 0.5s ease-in-out;
		    float: right;
		    font-weight: bolder;
		    position: relative;
		    display: inline-block;
			}
			p{
				font-weight: 400;
				margin-top: 5px;
				padding: 10px 10px;
			}
		}
	}
}


// .gallery
.gallery{
	@media (max-width: 991px){
		.gallery-image-item{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
.gallery-section{
	margin-bottom: 100px;
	.img-gallery{
		padding: 20px;
	}
	
}


/*
		               --- Add-ons for the template ---
*/

// gallery
.gallery{
	overflow: hidden;
}
.our-class-item .img-container, .feedback-author .img-container {
   border: 0;
}

.row.gallery-image{
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	padding-left: 20px;
	@media only screen and (max-width: 786px){
		&{
			padding-right: 10px;
		}
	}
}


.contact-form{
	color: white;
}
.contact-form .form-group{
	textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {color:white;}
	textarea::-moz-placeholder         , input::-moz-placeholder          {color:white;}
	textarea:-moz-placeholder          , input:-moz-placeholder           {color:white;}
	textarea:-ms-input-placeholder     , input:-ms-input-placeholder      {color:white;}
	.form-control{
		color: #e0e0e0;
	}
}
.main-menu ul li > ul{
	width: 100%;
}




.table{
	display: block;
  overflow: auto;
}
.information-section{
	h3{
		color: rgba($color-1, 0.5);
		font-weight: 700;
	}
	p{
		color: #333;
	}
	@media ( min-width: 1200px ) {
		& .skew_sub-1{
			transform: skewY(5deg);
		}
	}
}
.our-class{
	@media ( min-width: 1200px ) {
		&.skew__deg-2{
			margin-bottom: -188px;
			margin-top: -216px;
			padding-bottom: 250px;
			padding-top: 260px;
		}
		& .skew_sub-1{
			transform: skewY(9.5deg);
		}
	}
}
.about-section{
	p{
		margin: 45px 0;
		font-family: 800;
		color: #333;
	}
}

body{
	*{
		//font-family: "OswaldLight", sans-serif !important;
	}
	p{
		font-family: "Open Sans";
	}
}
.sidebar .single-post-recent .comment-content .time{
	color: black;
	

}
.single-post-recent .comment-content h3 a{
	color: rgba(white, 0.9);
}
.our-team-item .our-team-desc h3{
	color: darken(rgba($color-1, 1), 10%);
	font-weight: 800;
}
.ui-accordion-header-active{
	color: $color-1;
}
.icon-box{
	h4{
		color: darkgray !important;
	}
}