


@import "_fancybox.scss";

//main-add.scss

// -------------- FAQ

.faq-section{
	#main{
		margin-bottom: 50px;
	}
	.content{
		padding: 0 15px;
		margin: 30px 0;
		& ~ div {
			float: left;
		}
		.accordion{
			//min-height: 450px;
			display: block;
			position: relative;
			overflow: hidden;
			.section{
				position: relative;
			}
			h3{
				text-align: inherit;
				outline: none;
				border: 1px solid;
				border-radius: 5px;
				padding: 10px 20px;
	    		font-weight: 400;
				margin: 0;
				margin-top: 10px;
				&:hover{
					cursor: pointer;
				}
			}

			i{
			    margin-top: -1px;
			    margin-right: -5px;
			    transition: all 0.5s ease-in-out;
			    float: right;
			    position: relative;
			    display: inline-block;
			}
			p{
				font-weight: 200;
				margin-top: 5px;
				padding: 0 10px;
			}
		}
	}
}


// --------------- GALLERY
.gallery-section{
	margin-bottom: 100px;
	.img-gallery{
		padding: 20px;
	}
	
}


/*
		               --- ОТЛАДКА ---
*/

// ГАЛЕРЕЯ
.gallery{
	overflow: hidden;
}
.our-class-item .img-container, .feedback-author .img-container {
   border: 0;
}
.gallery-image .gallery-image-item{
	padding: 15px 15px;
}
.row.gallery-image{
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	padding-left: 20px;
	@media only screen and (max-width: 786px){
		&{
			padding-right: 10px;
		}
	}
}

// ФОРМА
.contact-form{
	color: white;
}
.form-group{
	textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {color:white;}
	textarea::-moz-placeholder         , input::-moz-placeholder          {color:white;}
	textarea:-moz-placeholder          , input:-moz-placeholder           {color:white;}
	textarea:-ms-input-placeholder     , input:-ms-input-placeholder      {color:white;}
	.form-control{
		color: #e0e0e0;
	}
}
.main-menu ul li > ul{
	width: 100%;
}

// Правки вёрстки
.table{
	display: block;
  overflow: auto;
}


.information-section{
	font-size: 1.15em;
	h3{
		color: #000;
		font-weight: 700;
	}
	p{
		color: #333;
	}
	@media ( min-width: 1200px ) {
		& .skew_sub-1{
			transform: skewY(5deg);
		}
	}
}
.our-class{
	@media ( min-width: 1200px ) {
		&.skew__deg-2{
			margin-bottom: -188px;
			margin-top: -216px;
			padding-bottom: 250px;
			padding-top: 260px;
		}
		& .skew_sub-1{
			transform: skewY(9.5deg);
		}
	}
}
.about-section{
	p{
		margin: 45px 0;
		font-family: 800;
		font-size: 1.15em;
		color: #333;
	}
}